<div class="barre">

  <div class="logo_container">
    <img class="logo" src="../../assets/logo.png"/>
  </div>

  <div class="navbar" id="nav">
    <div class="more">
      <button class="btn">Filtres
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="more-menu">
        <a id="titre_filtre">Logement</a>
        <fieldset>
          <div>
            <input type="checkbox" id="Accessible_PMR" name="Accessible PMR" (click)="acces_pmr()" />
            <label for="Accessible_PMR">Accessible PMR</label>
          </div>

          <div>
            <input type="checkbox" id="Parking" name="Parking" (click)="parking()" />
            <label for="Parking">Parking</label>
          </div>

          <div>
            <input type="checkbox" id="Laverie" name="Laverie" (click)="laverie()" />
            <label for="Laverie">Laverie</label>
          </div>

          <div>
            <input type="checkbox" id="Cuisine_collective" name="Cuisine collective" (click)="cuisine_collec()" />
            <label for="Cuisine_collective">Cuisine collective</label>
          </div>

          <div>
            <input type="checkbox" id="Douche_individuelle" name="Douche individuelle" (click)="douche_indiv()" />
            <label for="Douche_individuelle">Douche individuelle</label>
          </div>

          <div>
            <input type="checkbox" id="Kitchenette_individuelle" name="Kitchenette individuelle" (click)="kitchenette_indiv()" />
            <label for="Kitchenette_individuelle">Kitchenette individuelle</label>
          </div>

          <div>
            <input type="checkbox" id="Internet_Wifi" name="Internet / Wifi" (click)="internet()" />
            <label for="Internet_Wifi">Internet / Wifi</label>
          </div>

          <div>
            <input type="checkbox" id="Garage_velos" name="Garage à vélos" (click)="garage_velos()" />
            <label for="Garage à vélos">Garage à vélos</label>
          </div>

          <div>
            <input type="checkbox" id="Surveillance_Sécurité" name="Surveillance / Sécurité" (click)="securite()" />
            <label for="Surveillance_Sécurité">Surveillance / Sécurité</label>
          </div>

          <div>
            <input type="checkbox" id="Restauration_sur_place" name="Restauration sur place" (click)="restauration_sur_place()" />
            <label for="Restauration_sur_place">Restauration sur place</label>
          </div>

          <div>
            <input type="checkbox" id="Salle_de_travail" name="Salle de travail" (click)="salle_de_travail()" />
            <label for="Salle_de_travail">Salle de travail</label>
          </div>
        </fieldset>
        <a id="titre_filtre">Restaurant</a>
        <fieldset>
          <div>
            <input type="checkbox" id="filtre1" name="filtre1" />
            <label for="filtre1">filtre1</label>
          </div>

          <div>
            <input type="checkbox" id="filtre2" name="filtre2" />
            <label for="filtre2">NomF2</label>
          </div>

          <div>
            <input type="checkbox" id="filtre3" name="filtre3" />
            <label for="filtre3">NomF3</label>
          </div>

          <div>
            <input type="checkbox" id="filtre4" name="filtre4" />
            <label for="filtre4">NomF4</label>
          </div>

          <div>
            <input type="checkbox" id="filtre5" name="filtre5" />
            <label for="filtre5">NomF5</label>
          </div>

          <div>
            <input type="checkbox" id="filtre6" name="filtre6" />
            <label for="filtre6">NomF6</label>
          </div>

          <div>
            <input type="checkbox" id="filtre7" name="filtre7" />
            <label for="filtre7">NomF7</label>
          </div>

          <div>
            <input type="checkbox" id="filtre8" name="filtre8" />
            <label for="filtre8">NomF8</label>
          </div>

          <div>
            <input type="checkbox" id="filtre9" name="filtre9" />
            <label for="filtre9">NomF9</label>
          </div>

          <div>
            <input type="checkbox" id="filtre10" name="filtre10" />
            <label for="filtre10">NomF10</label>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div id="placeItems"></div>

</div>
