<div class="barre">
  <img class="logo" src="../../assets/logo-png.png"/>

  <div class="navbar" id="nav">
    <div class="more">
      <button class="btn">Filtres
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="more-menu">
        <fieldset>
          <div>
            <input type="checkbox" id="filtre1" name="filtre1" checked />
            <label for="filtre1">NomF1</label>
          </div>

          <div>
            <input type="checkbox" id="filtre2" name="filtre2" />
            <label for="filtre2">NomF2</label>
          </div>

          <div>
            <input type="checkbox" id="filtre3" name="filtre3" />
            <label for="filtre3">NomF3</label>
          </div>

          <div>
            <input type="checkbox" id="filtre4" name="filtre4" />
            <label for="filtre4">NomF4</label>
          </div>

          <div>
            <input type="checkbox" id="filtre5" name="filtre5" />
            <label for="filtre5">NomF5</label>
          </div>

          <div>
            <input type="checkbox" id="filtre6" name="filtre6" />
            <label for="filtre6">NomF6</label>
          </div>

          <div>
            <input type="checkbox" id="filtre7" name="filtre7" />
            <label for="filtre7">NomF7</label>
          </div>

          <div>
            <input type="checkbox" id="filtre8" name="filtre8" />
            <label for="filtre8">NomF8</label>
          </div>

          <div>
            <input type="checkbox" id="filtre9" name="filtre9" />
            <label for="filtre9">NomF9</label>
          </div>

          <div>
            <input type="checkbox" id="filtre10" name="filtre10" />
            <label for="filtre10">NomF10</label>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
