<div class="barre">
  <div class="logo_container">
    <img class="logo" src="../assets/logo.png"/>
  </div>

  <div class="navbar" id="nav">
    <div class="more">
      <button class="btn">Plus
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="more-menu">
        <fieldset>
          <div>
            <input type="checkbox" id="filtre1" name="filtre1" checked />
            <label for="filtre1">NomF1</label>
          </div>

          <div>
            <input type="checkbox" id="filtre2" name="filtre2" />
            <label for="filtre2">NomF2</label>
          </div>

          <div>
            <input type="checkbox" id="filtre3" name="filtre3" />
            <label for="filtre3">NomF3</label>
          </div>
        </fieldset>
    </div>

</div>
